body {
    font-family: Arial, sans-serif;
    /* background-color: #f4f4f4; */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0d0a0b;
    background-image: linear-gradient(315deg, #0d0a0b 0%, #009fc2 74%);
}

.container {
    text-align: center;
    margin-top: 50px;
    padding: 100px;

    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.block {
    display: inline-block;
    width: 200px;
    height: 100px;
    background-color: #009688;
    margin: 20px;
    /* line-height: 30px; */
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.block a {
    color: white;
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
    /* padding: 10px; */
}

.block:hover {
    background-color: #00796b;
}

h1 {
    color: #fdfcfc;
    font-size: 40px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label,
form select,
form input {
    margin: 10px 0;

}

select {
    padding: 10px 20px;
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #5899e2 74%);
    color: white;
    font-size: 15px;
    border-radius: 10px;
}

#upload-img-button {
    /* background-color: blue;
    padding: 15px 30px;
    color: white;
    border-radius: 10px; */
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;

    background: rgb(0, 140, 255);
    box-shadow: 0 0 25px rgb(0, 140, 255);
}

#upload-img-button:hover {
    box-shadow: 0 0 5px rgb(0, 140, 255),
        0 0 25px rgb(0, 140, 255),
        0 0 50px rgb(0, 140, 255),
        0 0 100px rgb(0, 140, 255);
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

form button {
    background-color: #009688;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #00796b;
}

a.button {
    background-color: #009688;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 10px;
}
.button{
    margin-top: 10px;
}

a.button:hover {
    background-color: #00796b;
}

img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

#tags-name{
    color: white;
}
option{
    background: black;
}
button{
    margin: 20px;
}