<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Noise Reduction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script>
        const getImg=(event)=>{
            const file = event.target.files[0];
            
            // Display file details
            console.log("File details:");
            console.log("Name: " + file.name);
            console.log("Type: " + file.type);
            console.log("Size: " + file.size + " bytes");
        }
        
    </script>
</head>
<body>
    <div class="container">
        <h1>Noise Reduction</h1>
        <form action="{{ url_for('process_image') }}" method="post" enctype="multipart/form-data">
            <input onchange="getImage(event)" id="imgupload" type="file" name="operation" value="reduce_noise">
            <label id="upload-img-button" for="image">Upload Image:</label>
            <input type="file" name="image" id="image" required>
            <label for="noise_type">Noise Reduction Type:</label>
            <select name="noise_type" id="noise_type">
                <option value="median">Median</option>
                <option value="gaussian">Gaussian</option>
            </select>
            <label for="level">Reduction Level:</label>
            <select name="level" id="level">
                <option value="low">Low</option>
                <option value="medium">Medium</option>
                <option value="high">High</option>
            </select>
            <button type="submit">Process Image</button>
        </form>
        <a href="{{ url_for('index') }}" class="button">Back to Home</a>
    </div>
    
</body>
</html>
